

    <h1>Créer un article</h1>
    @if (form) {
    <form class="loggedin-form post-form" [formGroup]="form" (ngSubmit)="submit()">
            @if(topics$ | async) {
                <p>
                <mat-form-field>
                    <mat-label>Thème</mat-label>
                    <mat-select matInput ngDefaultControl formControlName="topicId">
                        @for(topic of topics$ | async; track $index) {
                            <mat-option [value]="topic.id">
                                {{topic.title}}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-hint class="topic-hint" align="end">
                        @if(topicId?.invalid) {
                            <mat-icon class="input-invalid" svgIcon="invalid">Invalide</mat-icon>
                        } 
                        @else {
                            <mat-icon class="input-valid"  svgIcon="valid">Valide</mat-icon>
                        }</mat-hint>
                </mat-form-field>
                </p>
            }
            <p>
                <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput placeholder="Saisissez le titre de votre article" formControlName="title">
                    <mat-hint class="title-hint" align="end">
                        @if(title?.invalid) {
                            <mat-icon class="input-invalid" svgIcon="invalid">Invalide</mat-icon>
                        } 
                        @else {
                            <mat-icon class="input-valid"  svgIcon="valid">Valide</mat-icon>
                        }</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Contenu</mat-label>
                    <textarea matInput placeholder="Saisissez le contenu de votre article" formControlName="content"></textarea>
                    <mat-hint class="content-hint" align="end">
                        @if(content?.invalid) {
                            <mat-icon class="input-invalid" svgIcon="invalid">Invalide</mat-icon>
                        } 
                        @else {
                            <mat-icon class="input-valid"  svgIcon="valid">Valide</mat-icon>
                        }</mat-hint>
                </mat-form-field>
            </p>
        
        <button mat-raised-button type="submit" [disabled]="form.invalid">Créer</button>
        @if (error) {
            <p class="error">An error occurred : {{error}}</p>
        }
    </form>
}