@let subscriptions = subscriptions$ | async;
<mat-grid-list [cols]="cols" rowHeight="2:0.5" gutterSize="10px" (window:resize)="onResize($event)">
    @for (topic of topics$ | async ; track $index) {
        <mat-grid-tile>
            <app-topic
                [topic]="topic"
                [subscription]="subscriptions  | filterByTopic:topic"
                [loggedIn]="loggedIn$ | async"
                (subscribe)="onSubscribe($event)"
                (unSubscribe)="onUnsubscribe($event)"
            >

            </app-topic>
        </mat-grid-tile>
    
    }
</mat-grid-list>