@let topics = topics$ | async;

@if(topics?.length) {
    @let subscriptions = subscriptions$ | async;
    <div class="responsive-grid">
        @for (topic of topics ; track $index) {
            <app-topic
                [topic]="topic"
                [subscription]="subscriptions  | filterByTopic:topic"
                [loggedIn]="loggedIn$ | async"
                (subscribe)="onSubscribe($event)"
                (unSubscribe)="onUnsubscribe($event)"
            >
            </app-topic>
        
        }
    </div>
}
@else {
    <p>Aucun thème pour le moment.</p>
}