<mat-toolbar>
    <span routerLink="">MDD</span>
    @if ($isLogged() | async) {
    <div>
      <a routerLink="posts" class="link">Articles</a>
      <a routerLink="topics" class="link">Thèmes</a>
      <a routerLink="me" class="link">Account</a>
      <a (click)="logout()" class="link">Logout</a>
    </div>
  }
  @else {    
      <div>
        <a routerLink="topics" class="link">Thèmes</a>
        <a routerLink="login" class="link">Login</a>
        <a routerLink="register" class="link">Register</a>
      </div>
  }
  </mat-toolbar>