/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides((
    container-color: #7763C5,
    label-text-color: #fff,
  ));

  @include mat.toolbar-overrides((
    container-background-color: #fff,
    container-text-color: #7763C5,
  ));
}

mat-form-field {
    width: 100%;
}

mat-grid-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-grid-tile {
    background: #f5f5f5;
    border-radius: 5px;
    .mat-grid-tile-content {
        display: block;
        padding: 10px;
    }
}
