@let posts = posts$ | async;
<div class="posts-list-actions">
    <div class="list-actions">
        <a mat-flat-button [routerLink]="['create']" aria-label="Créer un article" matTooltip="Créer un article" matTooltipPosition="below">Créer un article</a>
    </div>
    <span class="spacer"></span>
    @if(posts?.length) {
    <div class="sort-actions">
        <a [matMenuTriggerFor]="menu" aria-label="Trier">
            Trier
        </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="this.sort.sortByAuthor ? true : false">
              <mat-icon svgIcon="user">Auteur</mat-icon>
              <a (click)="sortByAuthor()">Trier par auteur</a>
            </button>
            <button mat-menu-item [disabled]="this.sort.sortByAuthor ? false : true">
              <mat-icon svgIcon="date">Date</mat-icon>
              <a (click)="sortByPostCreation()">Trier par date</a>
            </button>
          </mat-menu>
        <a aria-label="Ordre de tri" (click)="sortOrder()" [matTooltip]="orderAscending ? 'Trier par ordre décroissant' : 'Trier par ordre croissant'" matTooltipPosition="below">
           <mat-icon [svgIcon]="orderAscending ? 'arrow-down' : 'arrow-up'"></mat-icon>
        </a>
    </div>
    }
</div>
@if(posts?.length) {
  <div class="responsive-grid">
  @for (post of posts ; track $index) {
          <app-post [post]="post"></app-post>
  }
  </div>
}
@else {
  <p>Aucun article pour le moment.</p>
  <p><a class="topics" routerLink="/topics"> Cliquez ici</a> pour accéder aux thèmes et vous abonner !</p>
}