@if ( user$ | async; as user) {
    <div class="user-profile">
        <h1>Profil utilisateur</h1>

        <form class="loggedin-form login-form" [formGroup]="form" (ngSubmit)="updateCurrentUser()">
                <mat-form-field>
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput placeholder="Saisissez ici votre nouveau nom d'utilisateur" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Saisissez ici votre nouvelle adresse email" formControlName="email">
                </mat-form-field>
            
            <button mat-flat-button type="submit" [disabled]="form.invalid">Sauvegarder</button>
        </form>

        <a class="logout" (click)="logout()">Se déconnecter</a>
    </div>

    @if (subscriptions$ | async; as subscriptions) {
        <hr>
        <h2>Abonnements</h2>
        @if(subscriptions?.length) {
            <div class="responsive-grid">
            @for (subscription of subscriptions; track $index) {            
                <app-topic
                    [topic]="subscription.topic"
                    [subscription]="subscription"
                    [loggedIn]="true"
                    (unSubscribe)="onUnsubscribe($event)"
                >
                </app-topic>            
            }
            </div>
        }
        @else {
            <p>Aucun abonnement pour le moment.</p>
            <p><a class="topics" routerLink="/topics"> Cliquez ici</a> pour accéder aux thèmes et vous abonner !</p>
        }
    }
}
@else {
    <p></p>
}