@if ( user$ | async; as user) {

    <p>{{ user.userName }}</p>
    <p>{{ user.email }}</p>

    <form class="login-form" [formGroup]="form" (ngSubmit)="updateCurrentUser()">
        <mat-card-content >
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="userName">
            </mat-form-field>
        </mat-card-content>
        <button mat-flat-button type="submit" [disabled]="form.invalid">Submit</button>
    </form>

    <a (click)="logout()">Me déconnecter</a>

    <hr>

    @if (subscriptions$ | async; as subscriptions) {
        <div class="responsive-grid">
        @for (subscription of subscriptions; track $index) {            
            <app-topic
                [topic]="subscription.topic"
                [subscription]="subscription"
                [loggedIn]="true"
                (unSubscribe)="onUnsubscribe($event)"
            >
            </app-topic>            
        }
        </div>
    }
}
@else {
    <p></p>
}